/* 2μ²ν¬μΈνΈ */
.register_btn{position: relative;}
.register_btn .join_point{     z-index: 2; position: absolute; left: -4px; top: 26px; margin-top: 5px; font-size: 9px; letter-spacing: 0.1em; color: #fff; background: #333; line-height: 100%; padding: 5px 7px 4px 7px; border-radius: 3px; white-space: nowrap; padding: 7px 10px 7px 10px; background: #9e0000 !important; color: #fff; border-radius: 12px; font-weight: bold;}
#top .join_point:after{    content: ''; position: absolute; top: -7px; left: 27px; margin-left: -4px; width: 9px; height: 5px; width: 0px; height: 0px; border-top: 50px solid none; border-bottom: 10px solid #9e0000; border-right: 7px solid transparent; border-left: 7px solid transparent;}
.show{display:block!important;}
/* gnb */
.gnb_con{width:100%; height:320px; background:#000;  position:absolute; z-index:1;top:0;left:0;}
.gnb_img{position:absolute;right:318px;top:104px;}
.gnb_img.img02{right:70px;}
.gnb_img img{}
.gnb_img h3{color:#fff;font-weight:300;padding-top:15px; font-size:12px;}
.gnb_logo{position:absolute; top:35px; left:75px;}
.gnb_logo img{width:57px;}
.gnb_con{display:none;}
.gnb_on a, .cart2{color:#fff;}
.gnb_on_icon{position:absolute;top:26px;right:46px;}

.gnb_con .menu_list{ margin: 28px 0 0 380px;  }
.gnb_con .menu_list li{display:inline-block; position: relative;}
.gnb_con .menu_list li a{display:block; color:#fff; padding-right:45px; }
.gnb_con .menu_list li a span{}
.gnb_con .menu_list .menu_depth{position: absolute; top:42px;}
.gnb_con .menu_list .menu_depth li{display:block;}
.gnb_con .menu_list .menu_depth li a{    width:100%; color: #909090; display:block; padding-bottom:3px;}
#top {}
#top a {text-decoration:none; transition-duration: 0.3s;}
#top a:hover{text-decoration:none; transition-duration: 0.3s;}
.topHover{position:fixed; z-index:98; width:100%; left:0; top:0; font-family: 'Montserrat', sans-serif; font-size:13px; padding:27px 0; height:20px; background:#fff; line-height:20px; color:#000; -webkit-transition-duration: 0.3; transition-duration: 0.3s;min-width:1600px;}
/*.topHover:hover{height:20px; background:#fff;  -webkit-transition-duration: 0.3; transition-duration: 0.3s;opacity:0.9;}*/
#top .inner {padding:0 50px; margin:0 auto;}
#top .inner .right_menu{position: absolute; right: 45px; top: 27px;}
.t_logo{ -webkit-transform: rotate(90deg); -ms-transform: rotate(90deg); transform: rotate(90deg);   }
#top #logo { float:left; margin-right:80px; margin-top:-11px; width:250px; height:34px;transition: .3s all;        transition-duration: 0.7s; transform-origin: 0 96%;}
#top #logo a img{width:100%;}
#top #logo2 {float:left; margin-right:80px; margin-top:-11px; width:250px; height:34px;transition: .3s all;        transition-duration: 0.7s; transform-origin: 0 96%; }
#top #logo2 a img{width:100%;}
#top #ham_btn{float:left; width:19px; height:16px; margin:4px 0 0 15px; cursor:pointer;}
#top #ham_btn img{width:100%;}
#top #topcarticon {float:left; margin-top:0;  font-size:11px; margin-left:15px}
#top #topcarticon img {margin-top:2px; margin-right:3px}

#top #topsearch {float:left; margin-left:12px; margin-top:2px;}
#top #topsearch .search-bar { margin:0; padding:0;}
#top #topsearch .search-bar img { cursor:pointer; margin-left:3px; height:16px}
#top #topsearch .search-bar input[type=text] {height:20px; padding:0; font-size:12px; color:#000; width:0; border:none; border-bottom:1px solid #fff; background:transparent; -webkit-transition-duration: 0.3s; transition-duration: 0.3s;}
#top #topsearch .search-bar:hover input[type=text] {height:20px; padding:0; font-size:11px; color:#000; width:100px; border:none; border-bottom:1px solid #000; -webkit-transition-duration: 0.3s; transition-duration: 0.3s;}
.gnb_on_icon .search-bar:hover input[type=text] {height:20px; padding:0; font-size:11px; color:#fff!important; width:100px!important; border:none; border-bottom:1px solid #fff!important; -webkit-transition-duration: 0.3s; transition-duration: 0.3s;}
#top .myshop_ico{float:left;font-size:11px; margin-left:15px;}
.gnb_on_icon .myshop_ico a{color:#fff;}
#top #log {float:left; margin-top:0; font-size:11px}
#top #log a {margin-left:11px}


.navi_con{width:100%; position:fixed;top:-100%;left:0;right:0;bottom:0;background:#fff;  z-index:100;  visibility: hidden; opacity: 0; filter: alpha(opacity=00);
-webkit-transition: all 1000ms ease;
    -moz-transition: all 1000ms ease;
    -ms-transition: all 1000ms ease;
    -o-transition: all 1000ms ease;
    transition: all 1000ms ease;}
.navi_con .navi_logo{width:100%; text-align: center; margin:150px auto; min-width:1200px;}
.navi_con .marginNav{margin:0 10% auto; overflow:hidden;min-width:1200px;}
.navi_box{width:14.2%; float:left;}
.navi_box:nth-child(1){}
.navi_box:nth-child(6){}
.navi_box .contents{text-align:center; }
.navi_box .contents li{}
.navi_box .contents li a{    margin: 5px 0;display: inline-block;color: #7f7f7f; font-weight:300; font-size:13px;}
.navi_box > h1{font-size:19px; font-weight:600; color:#000; padding-bottom:18px; text-align: center;}
.navi_con .close_btn{position:absolute;top:50px;right:50px;cursor:pointer;}
.show{visibility: visible;opacity: 1;filter: alpha(opacity=100); top:0;}
.navi_footer{    margin: 0 350px auto; overflow: hidden; margin-top: 300px; border-top: 1px solid #dbdbdb; padding-top: 23px;}
.nationSelect{float:left;width:144px;}
.nationSelect select{border: 0 none; color: #7f7f7f; font-size: 11px; -webkit-appearance: none; background: url(/web/upload/images/select_btn.png) no-repeat 93% 6px; width: 100%; background-size: 15px;}
select::-ms-expand {
    display: none;
}
.sns_con{float:right;}
.sns_con li{float:left;width:25%;}
.sns_con li a{padding:0 8px;}
#menubar span {
  position: relative;
  text-decoration: none;
}

#menubar span:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: -5px;
  left: 0;
  background-color: #000;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.17s ease-in-out 0s;
  transition: all 0.17s ease-in-out 0s;
}


#menubar span:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}



#menubar {}

.postion { text-align: left;}
.postion ul {display: inline-block; margin: 0; padding: 0; /* For IE, the outcast */ zoom:1;*display: inline;}

#menubar nav a:hover{ color:#000; }
#menubar nav ul {
  margin: 0;
  padding: 0;
}

#menubar nav ul li {
  display: inline-block;
  position: relative;
}

#menubar nav ul li a {
  color: #000;
  display: block;
  font-size: 13px;
  margin-right:45px;
  transition: 0.3s linear;
  z-index:101;
}

#menubar nav ul li:hover {  }

#menubar nav ul li ul {
  display: none;
  position: absolute;
  top:49px;
  text-align:left;
  padding:10px 0 5px 0;
  z-index:100;
  opacity:1.0;
  transition-duration: 0.3s;
  width:100px;
}

#menubar nav ul li ul li {
  display: block;

  padding-left:15px;
  margin-left:-15px;
}
#menubar nav ul li ul li:last-child {padding-bottom:5px}
#menubar nav ul li ul li a {
  color:#000
}

#menubar nav ul li ul li a {
  display: block;
  padding: 3px 0;
  font-size: 11px;
  line-height:16px;
  width:150px;
}